body selector
body{
    font-size: 19px;
    border: 3px solid black;
}
/* element selector */
p{
    color: purple;
}
/* class selector */
.gray{
    color: gray;   
}
/* id selector */
#second{
    font-style: italic;
}
/* universal selector */
*{
    font-family: monospace;
    border: 3px solid red;
}