<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- <style>
        p {
            color: lightblue;
        }
    </style> -->
</head>
<body>
    <!-- <p style="color: red">I'm learning new CSS</p> -->
    <h1>CSS Selectors</h1>
    <h2>Article 1</h2>
    <p class="gray" id="second">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cumque accusantium unde dolorem consequuntur modi reiciendis iste, asperiores minima laboriosam, veritatis temporibus, rerum maiores a? Fuga magni asperiores nobis quibusdam?</p>
    <h2>Article 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga excepturi sunt, velit architecto natus, deserunt omnis hic nisi illo quae quam error labore autem numquam aut, illum dicta iste voluptatem.</p>
    <h2>Article 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae explicabo, qui, in magnam possimus deleniti molestiae architecto rem enim a eligendi est animi quo quia tempora atque sunt. Quibusdam, mollitia?</p>
</body>
</html>